* {
    background-color: Grey
}

body * {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.07em;
    font-family: 'Space Mono', monospace;
}

body {

}

element.style {
    margin-left: 0;
}

.font-space {
    font-family: 'Space Mono', monospace;
}

.color-title {
    color: white
}

.color-footer {
    color: pink
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

