<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QUACK QUACK FM</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>

<h1><a href="{{ url_for('home') }}">QUACK QUACK</a></h1>
<li>MIXTAPES</li>
<li>RADIO</li>

<img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExeTRnbnJ2eTFiNzUycHFoa3Y0Y3l2dW5oN3loamhhMHY5Z3B6NmVubyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/LOwES3hPhSdTKHEBxG/giphy.gif">


<p><a class="color-footer">INSTAGRAM</a></p>
<p><a class="color-footer">STORE LOCATOR</a></p>
<p><a class="color-footer">CONTACT US</a></p>


</body>

<footer><a class="color-footer">• SIPPING FANCY IN {{ year }} •</a></footer>
</html>