<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DUCK DUCK</title>
    <link rel="stylesheet" href="static/styles.css">

</head>

<body>

<h1>DUCK DUCK</h1>
<li>SHOP</li>
<li>PLAY</li>
<li>FM</li>
<li>SOURCE-FILES</li>

<img src="https://media.giphy.com/media/xTiTnM6WqhU5bcOxXy/giphy.gif">

<li>INSTAGRAM</li>
<li>STORE LOCATOR</li>
<li>CONTACT US</li>


</body>

<footer>DUCK DUCK COFFEE {{ year }}• CREDITS</footer>
</html>