<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QUACK QUACK FM</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>

<h1>QUACK QUACK</h1>
<a href="{{ url_for('home') }}">HOME</a>
<li>MIXTAPES</li>
<li>RADIO</li>

<img src="https://media.giphy.com/media/iKNtSiy8MO9sA/giphy.gif">


<li>INSTAGRAM</li>
<li>STORE LOCATOR</li>
<li>CONTACT US</li>


</body>

<footer>DUCK DUCK COFFEE {{ year }}• CREDITS</footer>
</html>