<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Coffee</title>
    <!-- Add your CSS links or styles here -->
    <link rel="stylesheet" href="static/styles-index-text.css">

    <!-- Example: <link rel="stylesheet" href="styles.css"> -->
    <div class="login-button">Login</div>
    <div>MINOR FIGURES</div>
    <div>Shop</div>
    <div>Play</div>
</head>
<body>
    <div id="imageContainer">
        <img id="displayedImage" src="static/home1.webp">
    </div>
    <!-- Add your JavaScript links or scripts here -->
    <script>
        var currentIndex = 0;
        var imageArray = [
            "home1.webp",
            "home2.webp"
        ];

        function cycleImages() {
            var displayedImage = document.getElementById("displayedImage");
            displayedImage.src = imageArray[currentIndex];
            currentIndex = (currentIndex + 1) % imageArray.length;
        }

        // Set the interval to cycle images every 2000 milliseconds (2 seconds)
        var intervalId = setInterval(cycleImages, 2000);

        // To stop the automatic cycling, you can clear the interval
        // clearInterval(intervalId);
    </script>
    <!-- Example: <script src="script.js"></script> -->
</body>

<footer>
    <div> WHOLESALE </div>
    <div> INSTAGRAM </div>
    <div> MAILING LIST </div>
    <div> STORE LOCATOR </div>
    <div> SMALL PRINT </div>
    <div> SEARCH </div>

    <div>© MINOR FIGURES 2024 • CREDITS</div>
</footer>
</html>
